.navbar{
    background-color: aqua;
}

.Admin-head{
    background-color: aqua;
}
.facebook{
    color: aqua;
}
.twitter{
    color: blueviolet;
}
.youtupe{
    color: red;
}
.img-fluid{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.card-footer{
    color: #cced00;
}
.main_body{
    padding-left: 40px;
    background-color: #0d2436;
    height: 98vh;
    width: 100%;
}
.paras{
    color: #9aa5b1;
}
.Main_Foot{
    background-color: #001c32;
    width: 100%;
    height: 7vh;
}